@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css");

/* Color Palette */
:root {
  /* Main Color */
  --white: #f9f9ff;
  --blue: #4f4cff;
  --orange: #ff872e;

  /* Hover Color */
  --orange-hover: #ff6d00;
  --gray-hover: #353353;
}

body {
  background: var(--white);
  font-family: "Poppins", sans-serif;
}

/* Navbar */
nav {
  background-color: var(--white);
}

.navbar .navbar-brand {
  color: var(--orange);
  font-weight: bolder;
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:visited {
  color: var(--orange);
}

.navbar .navbar-brand span,
.navbar .navbar-nav .nav-link.active {
  color: var(--blue);
}

.nav-item a {
  font-size: 1rem;
  font-weight: bold;
}

.navbar .navbar-nav .nav-link.active:hover {
  color: var(--blue);
}

.navbar .navbar-nav .nav-link:hover {
  color: var(--gray-hover);
}

/* Home */
#home h2 {
  color: var(--blue);
}

.subtitle {
  padding: 1rem 0;
}

/* Footer */
footer {
  background-color: var(--blue);
}

/* Utilities */
.tombol {
  background-color: var(--orange);
  border-radius: 40px;
  padding: 0.5rem 1rem;
}

.tombol:hover {
  background-color: var(--orange-hover);
}

.table-responsive {
  max-height: 380px;
}
